<!-- index.html -->
<!DOCTYPE html>
<html ng-app="myApp">
<head>
  <meta charset="UTF-8">
  <title>AngularJS Currency Converter by Brian Nguyen</title>
  <link rel="stylesheet" href="style.css">
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.8.3/angular.min.js"></script>
  <script src="app.js"></script>
</head>
<body>
  <div ng-controller="DisplayController">
    <h1>Brian Nguyen's Currency Controller Project</h1>

    <div ng-controller="ConvertController">
      <div class="horizontal-row">
        <input type="number" ng-model="base_num" placeholder="Enter money amount here"  ng-change="convert()">
        <select ng-model="base_curr" ng-options="x for x in currencies"  ng-change="convert()"></select>
        <h2> convert to </h2>
        <select ng-model="new_curr" ng-options="x for x in currencies"  ng-change="convert()"></select>
      </div>

      <h2 ng-if="final_num"> That is {{final_num | number: 2}} in {{final_curr}}</h2>
    </div>
  </div>
</body>
</html>
